$--color1: #0a2647;
$--color2: #144272;
$--color3: #205295;
$--color4: #2c74b3;
$--color5: #d8d8d8;
$--polygon1: polygon(
    29% 7%,
    24% 97%,
    79% 59%,
    100% 27%,
    0 77%,
    41% 35%,
    100% 70%,
    78% 100%,
    30% 0,
    100% 20%,
    45% 0,
    51% 100%
);
$--gradient: linear-gradient(335deg, rgba(2, 0, 36, 1) 12%, rgba(0, 189, 231, 1) 86%, rgba(0, 212, 255, 1) 100%);

body, button {
    font-family: 'Quicksand', sans-serif;
}
