@media (max-width: 375px) {

    .footer{

        display:flex;
        background-color: #144272;
        height: 30vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        
    }
}