:root {
	--color1: #0a2647;
	--color2: #144272;
	--color3: #205295;
	--color4: #2c74b3;
	--color5: #d8d8d8;
}

@media (max-width: 375px) {
	.generalConditionContainer {
		color: var(--color5);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.generalConditionContainer ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-shadow: 1px 1px 10px var(--color1);
		
	}
	.generalConditionContainer li {
		margin: 10px auto;
	}
}

.generalConditionContainer {
	color: var(--color5);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.generalConditionContainer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

